/* Style Setting */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
    --bgColor: #1F212B;
    --accentColor: #214E34;
    --font: 'Roboto', sans-serif;
}

body {
    background-color: var(--bgColor);
}

div#box {
    max-width: 550px;
    width: auto;
    margin: 3em auto;
    padding: 1.5em;
    background-color: #10161D;
    border-radius: 0.5em;
}

#text {
    color: aliceblue;
    font-family: var(--font);
    text-decoration: none;
    font-size: 18px;
}

#title {
    display: block;
    color: aliceblue;
    font-family: var(--font);
    text-decoration: none;
}

#saweria {
    max-width: 100px;
    width: 100px;
    height: 35px;
    padding: 3px;
    margin: auto;
    background-color: #f1a501;
    border-radius: 6px;
    border: none;
    display: inline-block;
    font-family: var(--font);
    font-size: 14px;
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
    line-height: 1.25;
    cursor: pointer;
}

#trakteer {
    max-width: 100px;
    width: 100px;
    height: 35px;
    padding: 3px;
    margin: auto;
    background-color: #f01f03;
    border-radius: 6px;
    border: none;
    display: inline-block;
    font-family: var(--font);
    font-size: 14px;
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
    line-height: 1.25;
    cursor: pointer;
}